.header {
    background-color: rgb(91, 214, 121);
}
.title {
    flex: auto;
    text-align: center;
    text-size-adjust: auto;
    color: rgb(236,152,185);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.main-container {
    background-color: rgb(91, 214, 121);
}
.top-container {
    background-color: rgb(247,240,232);
    text-align: center;
    align-items: center;
}
.buttons {
    background-color: rgb(219, 210, 199);
    width: 75vw;
    align-items: center;
    padding: 1%;
    margin-bottom: 3%;
    margin-top: 1%;
}
.but {
    margin-bottom: 1%;
    width: 50vw;
    height: 4.5vh;
    background-color: rgb(236,152,185);
}
.but2 {
    width: 50vw;
    height: 4.5vh;
    background-color: rgb(236,152,185);
}
.content {
    margin-bottom: 3%;
    width: 75vw;
}