<mat-toolbar color="primary">
  <span class="title">Welcome to Miki's Pawsome Playdates</span>
</mat-toolbar>

<div class="main-container">
  <mat-card class="top-container">
      <mat-card class="buttons">
        <a class="but" mat-stroked-button href="/schedule" >My Schedule</a>
        <a class="but" mat-stroked-button href="/prices" >Price Sheet</a>
        <a class="but2" mat-stroked-button href="/about" >About Me</a>
      </mat-card>
      
      <mat-card class="content">
        <mat-card-header>
          <mat-card-title>My Schedule</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>This is some featured content for your homepage.</p>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="content">
        <mat-card-header>
          <mat-card-title>Price Sheet</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Stay tuned for the latest updates and news.</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="content">
        <mat-card-header>
          <mat-card-title>About Me</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Stay tuned for the latest updates and news.</p>
        </mat-card-content>
      </mat-card>

    </mat-card>
</div>