<mat-toolbar class="header">
  <span class="title">Welcome to Miki's Pawsome Playdates</span>
</mat-toolbar>
<mat-card class="top-container">
  <mat-card class="buttons">
    <a
      class="but"
      mat-stroked-button
      onClick="document.getElementById('about').scrollIntoView();"
      >About Me</a
    >
    <a
      class="but"
      mat-stroked-button
      onClick="document.getElementById('price').scrollIntoView();"
      >Price Sheet</a
    >
    <a
      class="but"
      mat-stroked-button
      onClick="document.getElementById('extra').scrollIntoView();"
      >Extra Info</a
    >
    <a
      class="but2"
      mat-stroked-button
      onClick="document.getElementById('schedule').scrollIntoView();"
      >My Schedule</a
    >
  </mat-card>

  <mat-card id="about" class="content">
    <mat-card-header>
      <mat-card-title class="cardTitle">About Me</mat-card-title>
    </mat-card-header>
    <mat-card-content class="aboutMeCard">
      <div>
        <img
          class="headshot"
          mat-card-xl-image
          src="https://raw.githubusercontent.com/mikiialvrz/mikiialvrz.github.io/main/images/headshot.png"
        />
      </div>
      <div class="aboutMe">
        <p class="welcomeText">🐾 Welcome to Miki's Paw-some Playdates! 🐾<br></p>

          <p>Hey there, fellow pet lovers! I'm Mikayla Alvarez, your Certified Veterinary Assistant turned pet-sitting <a href="https://www.merriam-webster.com/dictionary/maven" target="_blank">maven</a>, 
          and I'm here to turn your couch-potato kitty or an adventure-loving pup dreams into a reality. 
          <br> 🐶 🐱 <br>
          
          If you're wondering what makes me your go-to pet-sitter extraordinaire, let me spill the kibble on the delightful journey ahead. 
          With five years of hands-on experience in the heart of Gainesville, FL's veterinary world, I've seen it all - from wagging tails to hopping bunnies and everything in between. 
          <br> 🐕 ✨ <br>
          My passion for animals doesn't stop at the clinic doors; I bring it home with me. <br>
          In fact, I share my space with a lively crew of five four-legged friends, who often inspire my quirkiest tales.
          
          When your beloved pets are in my care, you can rest assured that they're not just getting a sitter; they're getting a pet-icular expert who's dedicated to their well-being. 
          <br> 🌍 💫 <br>
          In my world, every tail wag, meow, chirp, and hop is a cause for celebration. Whether your fur baby is fluffy, feathery, or finned, I'm here to sprinkle some magic on their day, one belly rub at a time! 🎉<br><br>
          
          Thanks for visiting! If you ever need a loving pet-sitter in the Gainesville area, I'm here for you and your furry friends. <br> 
         🐾 Wishing you endless joy with your beloved pets! 🐾</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card id="price" class="content">
    <mat-card-header>
      <mat-card-title class="cardTitle">Price Sheet</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img
        class="priceCardImg"
        mat-card-image
        src="https://raw.githubusercontent.com/mikiialvrz/mikiialvrz.github.io/main/images/price_sheet.jpg"
      />
    </mat-card-content>
  </mat-card>

  <mat-card id="extra" class="content">
    <mat-card-header>
      <mat-card-title class="cardTitle">Extra Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Stay tuned for the latest updates</p>
    </mat-card-content>
  </mat-card>
  
  <mat-card id="schedule" class="content">
    <mat-card-header>
      <mat-card-title class="cardTitle">My Schedule</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Stay tuned for the latest updates</p>
    </mat-card-content>
  </mat-card>
</mat-card>
