.header {
    background-color: #B7CBD0;
    font-size: 2.3vw;
    border-bottom: solid;
}
.title {
    flex: auto;
    text-align: center;
    text-size-adjust: auto;
    color: rgb(240, 120, 168);
}
.headerButton{

}
.main-container {
    background-color: rgb(91, 214, 121);
}
.top-container {
    background-image: linear-gradient(to bottom right, #CFF0CC, #CCCCFF);
    text-align: center;
    align-items: center;
}
.buttons {
    background-color: rgb(219, 210, 199);
    width: 75vw;
    border-width: 3px;
    border-color: rgb(102, 102, 102);
    align-items: center;
    padding: 1%;
    margin-bottom: 3%;
    margin-top: 1%;
}
.but {
    margin-bottom: 1%;
    width: 50vw;
    height: 4.5vh;
    background-color: rgb(236,152,185);
}
.but2 {
    width: 50vw;
    height: 4.5vh;
    background-color: rgb(236,152,185);
}
.MenuButton{
    margin-bottom: 1%;
    width: auto;
    height: auto;
    background-color: rgb(236,152,185);
}
.MenuButton2{
    width: auto;
    height: auto;
    background-color: rgb(236,152,185);
}
.cardTitle {
    color: rgb(236,152,185);
    font-size: x-large;
}
.content {
    margin-bottom: 3%;
    width: 75vw;
    background-color: rgb(219, 210, 199);
    border-width: 3px;
    border-color: rgb(102, 102, 102);
}
.aboutMeCard {
    display: grid;
    align-items: center; 
    grid-template-columns: 0.3fr 1fr;
    column-gap: 1vw;
}
img {
    object-fit: cover;
}
.headshot {
    width: 13vw;
    height: auto;
}
.welcomeText {
    font-size: x-large;
    font-weight: bold;
}
.aboutMe {
    font-size: large;
}
.priceCardImg {
    width: 40vw;
    height: auto;
}